main {
    height: 95vh;
    max-height: 1440px;
    width: auto;
    display: grid;
    grid-template: 1fr / 1fr 1.5fr 1fr;
    gap: 3px;
    margin: auto;
}

.section{
    display:grid;
    grid-template: 3fr 1fr 1fr / 1fr;
}

#sectionOne {
    background-color: brown;
}

#playerOne {
    color: orange;
    width: 3em;
    height: 3em;
}

#characterSelection {
    background-color: blue;
}

#sectionTwo {
    background-color: pink;
}

.cube {
    box-sizing: border-box;
}
